In [31]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sn
from  sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB,MultinomialNB
from sklearn.tree import DecisionTreeClassifier,DecisionTreeRegressor
import nltk
nltk.download('punkt')
nltk.download('wordnet')
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()
import json
import pickle

import numpy as np
from keras.models import Sequential
from keras.layers import Dense, Activation, Dropout
from keras.optimizers import SGD
import random
import re
import numpy as np
import pandas as pd 

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split

from keras.preprocessing import sequence
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from keras.models import Sequential
from keras.layers import Dense, Embedding, LSTM
from keras.datasets import imdb

from keras.utils.np_utils import to_categorical

import warnings
warnings.filterwarnings('ignore')
import ssl
ssl._create_default_https_context = ssl._create_unverified_context
from sklearn.ensemble import RandomForestClassifier,RandomForestRegressor,GradientBoostingClassifier,GradientBoostingRegressor

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Admin\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Admin\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [99]:
data=pd.read_csv("D:/deva/topical_chat.csv")
data.head()

,conversation_id,message,sentiment
0,1,Are you a fan of Google or Microsoft?,Curious to dive deeper
1,1,Both are excellent technology they are helpfu...,Curious to dive deeper
2,1,"I'm not a huge fan of Google, but I use it a...",Curious to dive deeper
3,1,Google provides online related services and p...,Curious to dive deeper
4,1,"Yeah, their services are good. I'm just not a...",Curious to dive deeper

In [100]:
data["message"]=data["message"].apply(lambda x:x.lower())
data["message"]=data["message"].apply(lambda x:re.sub("[^a-zA-z0-9\s]"," ",x))
data.tail()

,conversation_id,message,sentiment
188373,8628,wow it does not seem like that long since i...,Surprised
188374,8628,i havent seen that episode i might google it...,Curious to dive deeper
188375,8628,i don t think i have either that s an insane...,Curious to dive deeper
188376,8628,i did my little brother used to love thomas ...,Happy
188377,8628,it did ringo starr george carlin and alec ...,Neutral

In [101]:
from nltk.corpus import stopwords
from nltk.stem  import WordNetLemmatizer
from wordcloud import WordCloud,ImageColorGenerator,STOPWORDS
from os import path, getcwd
from PIL import Image
import nltk
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from wordcloud import WordCloud,STOPWORDS
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize,sent_tokenize
import re,string,unicodedata
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn
import numpy as np

In [102]:

stop_word = stopwords.words('english')

In [103]:
def clean(text):
    text=re.sub(r"#\w+"," ",text)
    text=re.sub(r"@\w+"," ",text)
    text=re.sub(r"\d+"," ",text)
    text=re.sub(r"http\S+"," ",text)
    text=re.sub("r<.*?>"," ",text)
    text=text.split()
    text=" ".join([word for word in text if not word in stop_word])
    return text

In [104]:
data["message"]=data["message"].apply(lambda x:clean(x))
data.tail()

,conversation_id,message,sentiment
188373,8628,wow seem like long since mentioned simpsons ea...,Surprised
188374,8628,havent seen episode might google later yeah si...,Curious to dive deeper
188375,8628,think either insane amount episodes ever see t...,Curious to dive deeper
188376,8628,little brother used love thomas tank engine re...,Happy
188377,8628,ringo starr george carlin alec baldwin narrated,Neutral

In [105]:

y=np.array(data["sentiment"])

In [106]:
max_fatures = 5000
tokenizer = Tokenizer(nb_words=max_fatures, split=' ')
tokenizer.fit_on_texts(data['message'].values)
x = tokenizer.texts_to_sequences(data['message'].values)
x = pad_sequences(x)

In [109]:
machine=RandomForestClassifier(n_estimators=50)
machine.fit(x,y)

RandomForestClassifier(n_estimators=50)

In [110]:
machine.score(x,y)*100

98.0475427066855

In [156]:
data.tail(10)

,conversation_id,message,sentiment
188368,8628,must definetely makes think twice well love tv...,Curious to dive deeper
188369,8628,like adult animated series like archer south p...,Happy
188370,8628,hilarious love shows also like pokemon mostly ...,Curious to dive deeper
188371,8628,believe many many years,Curious to dive deeper
188372,8628,like pokemon episodes around years since first...,Happy
188373,8628,wow seem like long since mentioned simpsons ea...,Surprised
188374,8628,havent seen episode might google later yeah si...,Curious to dive deeper
188375,8628,think either insane amount episodes ever see t...,Curious to dive deeper
188376,8628,little brother used love thomas tank engine re...,Happy
188377,8628,ringo starr george carlin alec baldwin narrated,Neutral

In [157]:
machine.predict(x[188368:188377])

array([' Curious to dive deeper', ' Happy', ' Curious to dive deeper',
       ' Curious to dive deeper', ' Happy', ' Surprised',
       ' Curious to dive deeper', ' Curious to dive deeper', ' Happy'],
      dtype=object)

In [158]:
data.head(10)

,conversation_id,message,sentiment
0,1,fan google microsoft,Curious to dive deeper
1,1,excellent technology helpful many ways securit...,Curious to dive deeper
2,1,huge fan google use lot think monopoly sense,Curious to dive deeper
3,1,google provides online related services produc...,Curious to dive deeper
4,1,yeah services good fan intrusive personal lives,Curious to dive deeper
5,1,google leading alphabet subsidiary continue um...,Curious to dive deeper
6,1,know google hundreds live goats cut grass past,Curious to dive deeper
7,1,interesting google provide chrome os light wei...,Curious to dive deeper
8,1,like google chrome use well browser,Curious to dive deeper
9,1,yes google biggest search engine google servic...,Curious to dive deeper

In [159]:
machine.predict(x[0:9])

array([' Curious to dive deeper', ' Curious to dive deeper',
       ' Curious to dive deeper', ' Curious to dive deeper',
       ' Curious to dive deeper', ' Curious to dive deeper',
       ' Curious to dive deeper', ' Curious to dive deeper',
       ' Curious to dive deeper'], dtype=object)

In [162]:
machine.predict(x[188376:188377])

array([' Happy'], dtype=object)